{% extends 'index.html' %}
{% load static %}

{% block contents %}
    <section class="vending-machine">
        <div class="vm-header">
            <div class="h2 text-center">{{ vm }}</div>
        </div>
        <div class="vm-body">
            <div class="d-flex window vm-item">
            {% for item in vm.vendingitem_set.all %}
                <div class="d-flex flex-column item">
                    <div class="vm-item-title">{{ item.name }}</div>
                    <div class="vm-item-body" style="background-color: {{ item.color }}"></div>
                    <div class="vm-item-price">
                        <span class="quantity">
                            {% if item.quantity %}
                                O
                            {% else %}
                                X
                            {% endif %}
                        </span>
                        <button class="beverage" data-id="{{ item.pk }}">
                            {{ item.price }}
                        </button>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="d-flex vm-transaction">
                <div class="money">
                    <div class="print-money">0</div>
                    <button id="insert">돈 넣는 곳</button>
                    <button id="refund">반환</button>
                </div>
                <div class="exit"></div>
            </div>
        </div>
        <div>
            Seokju Company
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
myGlobal = {
    url: '{{ object.get_absolute_url }}',
    item_url: '{% url 'vending:item_detail' 1 %}',
    csrfmiddlewaretoken: '{{ csrf_token }}'
}
</script>
<script src="{% static 'scripts.js' %}"></script>
{% endblock %}