{% extends 'index.html' %}

{% block contents %}
    <section class="vending-machine">
        <div class="vm-header">
            <div class="h2 text-center">{{ vm }}</div>
        </div>
        <div class="vm-body">
            <div class="d-flex window vm-item">
            {% for item in vm.vendingitem_set.all %}
                <div class="d-flex flex-column item">
                    <div class="vm-item-title">{{ item.name }}</div>
                    <div class="vm-item-body" style="background-color: {{ item.color }}">body</div>
                    <div class="vm-item-price">
                            {% if item.quantity %}
                                O
                            {% else %}
                                X
                            {% endif %}
                        <button class="beverage">
                            {{ item.price }}
                        </button>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="d-flex vm-transaction">
                <div class="money">
                    <div class="print-money">0</div>
                    <button id="insert">돈 넣는 곳</button>
                    <button id="refund">반환</button>
                </div>
                <div class="exit">물건 나오는 곳</div>
            </div>
        </div>
        <div>
            Seokju Company
        </div>
    </section>
{% endblock %}
{% block scripts %}
<script>
let money = 0;
const insert = document.querySelector('#insert');
insert.addEventListener('click', function(e){
    money = prompt('얼마를 넣으십니까?');
    money = parseInt(money)
    if (isNaN(money)){
        alert("숫자만 입력해주세요.")
        return 0;
    }
    if (money % 10 === 0) {
        document.querySelector('.print-money').innerHTML = String(money);
    } else {
        alert("10원 단위로 입력해주세요.");
    }
})

const refund = document.querySelector('#refund');
refund.addEventListener('click', function(e){
    const curreny_list =  [5000, 1000, 500, 100, 50, 10];
    let refund_list = []
    for(let i=0; i<curreny_list.length; i++){
        refund_list[i] = Math.floor(money / curreny_list[i])
        money %= curreny_list[i]
        document.querySelector('.print-money').innerHTML = String(money);
    }
    alert(refund_list)
});

let items = document.querySelectorAll('.beverage');
Array.from(items).forEach(function(item){
    item.addEventListener('click', function(e){
        let target = e.currentTarget;
        console.log(target);
        let item_price = parseInt(target.innerHTML);
        if (money === 0) {
            alert("돈을 넣어주세요.");
            return 0;
        } else if (money < item_price) {
            alert("돈이 부족합니다.");
            return 0;
        } else {
            const select =  confirm("구입하시겠습니까?");
            if (select){
                money -= item_price;
                document.querySelector('.print-money').innerHTML = String(money);
            }
        }
    })
});
</script>
{% endblock %}