/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background-color: #fed394;
}

.vending-machine {
    min-height: 80vh;
    background-color: #e9413d;
    width: 50%;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 100px auto 0;
    position: relative;
}

.vm-header {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    position: absolute;
    top: -13%;
    border: 5px solid #000;
}

.vm-header .h2 {
    line-height: 55px;
    margin-bottom: 0;
    letter-spacing: 0.5rem;
}

.vm-body {
    display: flex;
    margin-top: 20px
}

.vm-body .window{
    margin: 0 20px 0 20px;
    background-color: #30a8db;
    border: 5px solid #000;
    border-radius: 25px;
    min-height: 500px;
    flex-basis: 60%;
}

.vm-item {
    padding: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.vm-item-title {
    text-align: center;
    background-color: #fff;
    margin-bottom: 5px;
}

.vm-item-body {
    height: 60px;
    width: 50%;
    margin: 0 auto;
}

.vm-item-price {
    border: 1px solid;
    background-color: gray;
}

button.beverage {
    background-color: transparent;
    border-color: transparent;
    min-width: 48px;
}

button.beverage:hover {
    font-weight: bold;
}

.vm-item .item {
    padding: 10px;
}

.vm-transaction {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.money {
    width: 100%;
    border: 5px solid #000;
    background-color: #000;
    position: relative;
}

.money button {
    border-color: transparent;
}

.money .print-money {
    height: 30px;
    background-color: #000;
    color: red;
    font-size: 25px;
    text-align: right;
}

.exit {
    width: 100%;
    height: 100px;
    border: 5px solid #000;
    background-color: #929294;
}

.company {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#return-area {
    display: inline-block;
    position: absolute;
    width: 200px;
    left: 200px;
    background-color: green;
}

.paper {
    border: 3px solid #000;
    display: inline-block;
    width: 60px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin: 5px;
}

.coin {
    border: 3px solid #000;
    border-radius: 25px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    margin: 5px;
}

.money-5000 {
    background-color: #d9c3b8;
}

.money-1000 {
    background-color: #a6cdec;
}

.money-500 {
    background-color: #9d9081;
}

.money-100 {
    background-color: #8c8988;
}

.money-50 {
    background-color: #c59d64;
}

.money-10 {
    background-color: #ffdeaf;
}